<section data-ng-controller="HomeController">
    <div class="jumbotron page-header">
        <h1 align="center">"Ser mejores, para servir mejor a Costa Rica"</h1>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style>
            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {
              width: 70%;
              margin: auto;
            }
        </style>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/modules/core/img/brand/Car1.jpg">
        </div>

        <div class="item">
          <img src="/modules/core/img/brand/CAR2.jpg">
        </div>

        <div class="item">
          <img src="/modules/core/img/brand/CAR3.jpg">
        </div>

        <div class="item">
          <img src="/modules/core/img/brand/CAR4.jpg">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="col-sm-6-cemter">
        <div class="col-sm-6">

            <h1 class="text_type_04">
                Misi&#243n
            </h1>
            <p class="text_type_01_p">
                Los Colegiosgios Cient&#237ficos de Costa Rica tienen como misi&#243n la formaci&#243n integral de sus estudiantes,
                considerando los m&#225s altos valores costarricenses en el marco de un proceso educativo, con &#233nfasis
                en la adquisici&#243n de conocimientos s&#243lidos y habilidades en los fundamentos de la matem&#225tica, la f&#237sica,
                la qu&#237mica, la biolog&#237a y la inform&#225tica.
            </p>

        </div>
        <div class="col-sm-6">
            <h1 class="text_type_04">
                Visi&#243n
            </h1>
                <p class="text_type_01_p">
                    Los colegios cient&#237ficos de Costa Rica tienen como visi&#243n formar una base id&#243nea de j&#243venes con
                    conocimientos s&#243lidos en matem&#225tica y ciencias exactas, con un alto sentido de responsabilidad
                    ciudadana, capaces de promover y aumentar la actividad cient&#237fica con sentido &#233tico y moral para
                    un desarrollo ulterior acrecentando la cultura y el bienestar social del pa&#237s.
                </p>



        </div>
    </div>

    <div id="contact_info">
        <h1 class="text_type_04">Cont&#225ctenos</h1>
        <div class="contact_info_detail">
            <div class="detail"  tabindex="0">
                <span class="text_type_01">Tel: 2475-7089 / 2401-3102</span>
            </div>
            <div class="detail" title="Dirección Postal" tabindex="0">
                <span class="text_type_01">Fax: 2475-5395</span>
            </div>
            <div class="detail" tabindex="0">
                <span class="text_type_01">
                    <a href="mailto:cccrsancarlos@gmail.com">  cccrsancarlos@gmail.com  </a>
                </span>
            </div>
            <div class="detail" tabindex="0">
                <span class="text_type_01">
                <a href="http://ccsancarlos.com">http://ccsancarlos.com</a>
                </span>
            </div>

        </div>
    </div>

    <div id="footer" class="footer">
        <div class="container">
            <p class="muted credit">Colegio Cient&#205fico San Carlos. Expediente Estudiantil 2014</p>
        </div>
    </div>
</section>

