<section data-ng-controller="FunctionaryResumeEducationsController">
    <div class="page-header">
        <h1>Editar educaci&#243;n</h1>
    </div>
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <div class="modal-body">
                <label class="control-label" for="schoolname">Universidad</label>
                <div class="controls">
                    <input type="text" data-ng-model="schoolName" id="schoolname" class="form-control" required>
                </div>

                <label class="control-label" for="degree">Grado</label>
                <div class="controls">
                    <input type="text" data-ng-model="degree" id="degree" class="form-control" required>
                </div>

                <label class="control-label" for="description">Descripci&#243;n</label>
                <div class="controls">
                    <input type="text" data-ng-model="description" id="description" class="form-control" required>
                </div>

                <label class="control-label" for="attendedstartdate">A&#241;o de inicio</label>
                <div class="controls">
                    <input class="date" type="date" data-ng-model="attendedStartDate" id="attendedstartdate" required />
                </div>

                <label class="control-label" for="attendedenddate">A&#241;o de graduaci&#243;n</label>
                <div class="controls">
                    <input class="date" type="date" data-ng-model="attendedEndDate" id="attendedenddate" required />
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Editar" class="btn btn-success">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
                </div>

            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>
