<section>
  <div class="page-header">
    <h1>Horarios</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="horario in vm.horarios"
       data-ui-sref="horarios.view({ horarioId: horario._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="horario.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="horario.user" data-ng-bind="horario.user.displayName"></span>
        <span data-ng-if="!horario.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="horario.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.horarios.$resolved && !vm.horarios.length">
    No Horarios yet, why don't you <a data-ui-sref="horarios.create">create one</a>?
  </div>
</section>
